#map {
  height: 70%;
  width: 40%;
  left: 3em;
  z-index: 999;
  border: 3px solid #0F0358;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 8px 0px black;
  -moz-box-shadow: 0px 0px 8px 0px black;
  box-shadow: 0px 0px 15px 0px black;
}

.search {
  text-align: center;
  top: 10em;
  left: 37.5em;
  position: absolute;
  width: 35%;
  margin: auto;
  z-index: 20000;
}

.results {
  width: 15%;
  margin-left: 84%;
  float: right;
  height: 100%;
  top: 0;
  position: absolute;
  margin-top: 3em;
  overflow: scroll;
  margin-right: -.3em;
}

.result {
  background-color: rgba(100,100,100,.3);
  border: 3px solid #0F0358;
  border-radius: 5px;
  margin-bottom: .5em;
  -webkit-box-shadow: 0px 0px 8px 0px black;
  -moz-box-shadow: 0px 0px 8px 0px black;
  box-shadow: 0px 0px 15px 0px black;
}

.pick {
  margin-top: 7em;
  color: white;
  background-color: #0F0358;
  border-radius: 10px;
  font-size: 2em;
  width: 12em;
}

.title {
  text-align: center;
}

.final {
  color: white;
  top: 15em;
  position: absolute;
  text-align: center;
  width: 30%;
  height: 30%;
  left: 35%;
  z-index: 10000;
  background-color: rgba(50,50,50,.7);
  border-radius: 10px;
}

.blur {
  -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    z-index: 999;
}

.refresh {
  color: white;
  font-size: 2em;
  height: 2em;
  background-color: rgb(50,50,50);
  border-radius: 10px;
  width: 100%;
}

body {
  background-color: rgba(100,100,100,.3);
}